<form [formGroup]="form"
      [commonForm]="api.login.bind(api)"
      [transform]="transform"
      (commonFormSubmit)="onSubmit($event)"
>

  <div>
    <label>
      <span>Email</span>
      <input type="email" formControlName="email">
    </label>
    <div sins="email">
      <span *sin="'required'">Email is required.</span>
      <span *sin="'serverError' let msg">{{ msg }}}</span>
    </div>
  </div>

  <br>

  <div>
    <label>
      <span>Password</span>
      <input type="password" formControlName="password">
    </label>
    <div sins="password">
      <span *sin="'required'">Password is required.</span>
      <span *sin="'minlength'">Password must be longer than 4 characters.</span>
      <span *sin="'serverError' let msg">{{ msg }}</span>
    </div>
  </div>

  <br>

  <button type="submit">Log in</button>

</form>
